// main container fixed width
$container-width : 1100px;

.container {
	width: $container-width;
	margin: 0 auto;
}

@media only screen and (max-width: $container-width) {
	.container {
		// By setting the width to 90% it will give the content padding.
		width: 90%;
	}
	[class*="column"] {
		margin: 0;
		width: 100%;
	}
	@import "mobilemenu.scss";
}